.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    z-index: 100;
    background: #ccc;
    transition: 0.4s ease ;
}

.sidebar#hide{
    right: -30%;
}

.sidebar#show{
    right: 0;
}

.chevron {
    color: var(--white);
}